@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
.cta {
  background-color: #f8df1f;
  text-transform: uppercase;
  font-size: 18px;
  padding: 4% 6%;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #050500;
}
.style {
  text-transform: uppercase;
  color: #ee252f;
}
.font {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #050500;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-image: url("../img/banner-bg.png");
  background-repeat: no-repeat;
  object-fit: scale-down;
  height: 400px;
}
body img {
  width: 100%;
}
nav {
  background-color: #f8df1f;
  padding: 4%;
}
nav ul {
  padding-left: 3%;
}
nav ul li {
  display: inline-block;
  padding: 0 2%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #050500;
}
h1 {
  display: none;
}
.image-banner {
  padding-top: 10%;
  max-width: 250px;
}
.padding-top {
  padding-top: 5%;
}
.center {
  text-align: center;
}
article {
  background-color: white;
  margin-top: 77px;
}
article .section2 {
  background-color: #f3f3f3;
}
article .section1,
article .section2 {
  padding: 10%;
}
article p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #050500;
  padding-bottom: 9%;
}
h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #050500;
  padding-bottom: 3%;
}
span {
  text-transform: uppercase;
  color: #ee252f;
}
.lowercase {
  text-transform: lowercase;
  color: #050500;
}
button {
  background-color: #f8df1f;
  text-transform: uppercase;
  font-size: 18px;
  padding: 4% 6%;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #050500;
}
.image1 {
  padding-top: 11%;
  max-width: 150px;
}
.image2 {
  padding-bottom: 11%;
  max-width: 150px;
}
footer {
  background-color: #080801;
  padding: 20px 0;
  border-top: 8px #f8df1f solid;
  text-align: center;
}
footer .image3 {
  max-width: 250px;
}
/* START 500PX MEDIA QUERY ****************************/
@media (min-width: 500px) {
  .image-banner {
    max-width: 400px;
  }
  .image3 {
    max-width: 300px;
  }
}
/* END 500PX MEDIA QUERY ****************************/
/* START 700PX MEDIA QUERY ****************************/
@media (min-width: 700px) {
  .padding-top {
    padding-top: 3%;
  }
  .padding-top .cta {
    padding: 2% 3%;
  }
  article .section1,
  article .section2 {
    display: flex;
    padding: 5% 10%;
  }
  article .section2 {
    padding-left: 15%;
  }
  article p {
    padding-bottom: 3%;
  }
  article .flex1,
  article .flex2 {
    width: 70%;
  }
  article .flex2 {
    padding-left: 10%;
  }
  article h2 {
    padding-bottom: 2%;
  }
  article .image1 {
    max-width: 250px;
    padding-left: 25%;
  }
  article .image2 {
    max-width: 200px;
    padding-right: 25%;
  }
  article .button2,
  article .button3 {
    text-align: left;
  }
}
/* END 700PX MEDIA QUERY ****************************/
